@import "variable";

.main_animes {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 300px;
  padding: 16px;
  border: 1px solid $primary-color;
  text-align: left;
  background-color: $light-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    transform: scale(1.02);
  }

  .container_img {
    width: 100%;
    height: 450px;
  }
  img {
    width: 100%;
    height: 450px;
    margin-top: 10px;
    border-radius: 8px;
  }

  h2 {
    margin: 10px 0;
    font-family: $font-family;
    font-weight: $font-weight-bold;
    color: $secondary-color;
  }

  p {
    margin: 10px 0;
    font-family: $font-family;
    font-weight: $font-weight-bold;
    color: $secondary-color;
  }
}

.scroll-top {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border: none;
  bottom: 20px;
  right: 20px;
  font-size: $font-size-medium;
  color: $secondary-color;
  background-color: $primary-color;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 3);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
