footer {
  padding: 20px;
  text-align: center;
  color: darkorange;
  background-color: black; 
   
  .footer-content {
    margin-bottom: 20px; 

    h2 {
      margin: 0; 
      font-weight: 700;
      font-size: 24px; 
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-style: italic; 
    }

    p {
      margin: 10px 0; 
      font-size: 14px; 
    }
  }

  .footer-bottom {
    font-size: 12px; 
  }

  .social-links {
    display: flex; 
    justify-content: center; 
    padding: 20px;
    gap: 15px; 

    a {
      color: #fff; 
      transition: color 0.3s; 

      &:hover {
        color: darkorange; 
      }

      svg {
        vertical-align: middle; 
      }
    }
  }
}
