.form_auth {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0% auto;
    padding: 30px;
    justify-content: center;
    color: orangered;
    background-color: black;
    border-radius: 20px;
    
    label {
        font-size: 18px;
    }

    input {
        margin-bottom: 20px;
        padding: 5px 15px ;
    }

    .btn-submit {
        padding: 10px 20px;
        border: none;
        font-size: 20px;
        color: white;
        background-color:darkorange;
        border-radius: 5px;
        cursor: pointer;
      }
}
