header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: black;
  

  .BurgerIcon {
    display: block;
    color: darkorange;
  }

  nav a {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: darkorange;
    transition: color 0.3s ease, background-color 0.3s ease;
    

    &:hover {
      color: black;
      background-color: darkorange;
      border-radius: 5px;
    }
  }

  h1 {
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: darkorange;
  }

  nav {
    display: none;
    justify-content: center;
    padding: 30px;
    gap: 30px;
    
  }
}

.BurgerMenu {
  position: fixed;
  top: 60px;
  left: 0px;
  right: 0px;
  background-color: black;
  z-index: 500;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 600px) {
  header {
    .BurgerIcon {
      display: none;
    }
    nav {
      display: flex;
    }
  }
}
