@import "variable";
@import "admin";
@import "header";
@import "home";
@import "anime";
@import "anime_details";
@import "form";
@import "comment";
@import "star_rating";
@import "footer";
@import "table_anime_admin";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  font-family: $font-family;
  font-style: italic;
  font-weight: $font-weight-bold;
  text-align: center;
  color: $primary-color;
}
.Gorille {
  display: block;
  margin: 0 auto;
}
