.star-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 70px;
  gap: 0.5rem;

  .star {
    background: none;
    padding: 0;
    border: none;
    font-size: 35px;
    color: #ddd;
    transition: color 0.2s;
    cursor: pointer;

    &:hover {
      color: darkorange;
    }
  }

  .star-filled {
    color: darkorange;
  }
}
